@font-face {
    font-family: "Lucida Grande";
}
#callme {
	height: 151px;
	position: fixed;
	*position: absolute;
	top: 150px; 
	right: 0;
	width: 22px;
	z-index: 110;
}
.cme_txt {
	width: 280px !important;
	border: 1px solid #ccc;
	border-radius: 1px;
	box-shadow: 0 1px 0 #fff;
	color: #000;
	font-size: 12px;
	padding: 5px 3px !important;
}
.cme_form {
	display: none;
	border: 1px solid #bbc1ce;
	box-shadow: 0 1px 0px #ccc;
	position: fixed;
	*position: absolute;  
	font-family: 'Lucida Grande', Tahoma;
	border-radius: 3px;
	right: 50px;
	top: 150px;
	width: 305px;
	z-index:109;
	background: #f1f1f1;
	color:grey;
}
.cme_form span {
	 padding:2px 3px 2px 10px;
	 display:block;
	 color:#333;
	 font-size:11px;
	 clear:both;
}
.cme_form span div {
	float: left;
	display: inline;
	margin: 0 5px 0 0;
	line-height: 19px;
}
.cme_btn {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	padding: 6px 7px 7px;
	font-family: 'Lucida Grande', Tahoma;
	background: url(bttn_bg.png) repeat-x top #2e75ce;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-shadow:0 1px 0 #217dd5;
	box-shadow: 0 -1px 0 #217dd5, 0 1px 0 #fff;
	margin: 0;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	width: 140px;
}
.cme_form h6 {
	color:#fff;
	background: url(bttn_bg.png) repeat-x top #455e83;
	font-size:12px;
	padding:8px 0 9px 10px;
	border-bottom:1px solid #e8e8e8;
	text-shadow:0 1px 0 #333;
	margin:0 0 7px 0;
}
.callmebody {
	font-size: 11px;
	background: #fff;
	padding: 5px 10px;
}
.callmebody .inf {
	padding: 0 5px;
	margin: 0 0 10px 0;
	font-weight: bold;
	clear: both;
}
#viewform {
	border: 0;
	padding: 0;
	background: url(bttn.png) 0px 0;
	height: 185px;
	width: 22px;
	cursor: pointer;
}
.callmeform_hover {
	background-position: 22px 0!important;
}
.callme_result {
	background: #fff url(loading.gif) 10px center no-repeat;
	display: block;
	clear: both;
	margin: 5px 11px 10px 10px;
}
.callme_result div {
    padding: 7px 7px;
    margin: 4px 0px 0px 0px;
}
.callme_result .sending {
	padding: 7px 0 7px 35px;
	display: block;
	color:grey;
	clear:both;
}
.callme_result .c_success {
	background: #98c462;
	color:#fff;
	text-shadow: none;
}
.callme_result .c_error {
	background: #FFFFC5;
	color: #333;
	text-shadow: none;
}
.cme_cls {
	height: 15px;
	width: 15px;
	float: right;
	display: inline;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	margin: 6px 10px 0 0;
	cursor: pointer;
	-webkit-transition-duration: 0.2s; 
	-o-transition-duration: 0.2s; 
	-moz-transition-duration: 0.2s; 
	transition-duration: 0.2s;
}
.cme_cls:hover {
	opacity: 0.6;
}
.cme_btn_place span a {
	font-size: 10px;
	color: #888;
}
.cme_btn_place span a:hover { 
	text-decoration: none; 
}
.cme_btn_place span {
	display: inline;
	float: right;
	padding: 7px 12px 0 0!important;
	font-size: 8px;
	color: #888;
}
#cme_back {
	display: none;
	z-index: 108;
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
}
.cme_form select {
	background: #fff;
	padding: 4px 3px 3px 9px;
	font-size: 12px;
	border: 1px solid #98A198;
	margin: 0 0 7px 0;
	border-radius: 3px;
	outline-style: none;
}
.cme_form .cme_select {
	width: 290px !important;
	margin: 0 0 5px 10px;
}