#callme {
	height: 151px;
	position: fixed;
	*position: absolute;
	top: 150px; 
	right: 0;
	width: 22px;
	z-index: 110;
}
.cme_txt {
	width: 280px !important;
	border: 1px solid #aaa;
	border-radius: 1px;
	box-shadow: 0 1px 0 #fff;
	color: #000;
	font-size: 12px;
	padding: 5px 3px !important;
}
.cme_form {
	font-family: 'Lucida Grande', Tahoma;
	display: none;
	text-shadow: 0 1px #fff;
	border: 1px solid #bbc1ce;
	box-shadow: 0 2px 20px #333;
	position: fixed;
	*position: absolute;  
	border-radius: 3px;
	right: 50px;
	top: 150px;
	width: 305px;
	z-index:109;
	background: #fff;
	color:grey;
}
.cme_form span {
	 padding:2px 3px 2px 10px;
	 display:block;
	 color:grey;
	 font-size:11px;
	 clear:both;
}
.cme_form span div {
	float: left;
	display: inline;
	margin: 0 5px 0 0;
	line-height: 19px;
}
.cme_btn {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	padding: 4px 7px 5px;
	background: #637bad;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border-radius: 1px;
	text-shadow: 0 1px 0 #757575;
	margin: 0;
	cursor: pointer;
	border: 0;
	border-top: 1px solid #;
	width: 140px;	
	border-top: 1px solid #8a9cc2;
	border-right: 1px solid #4b5e84;
	border-left: 1px solid #4b5e84;
	border-bottom: 1px solid #4b5e84;
	box-shadow: 0 -1px 0 #4b5e84, 0 1px 0 #fff;
}
.cme_form h6 {
	color:#3B5998;
	font-size:12px;
	padding:8px 0 9px 10px;
	border-bottom:1px solid #e9e9e9;
	margin:0 0 7px 0;
}
.callmebody {
	font-familyly: 'lucida grande', Tahoma;
	font-size: 12px;
	background: #fff;
	padding: 5px 10px;
}
.callmebody .inf {
	padding: 0 5px;
	margin: 0 0 10px 0;
	font-weight: bold;
	clear: both;
}
#viewform {
	border: 0;
	padding: 0;
	background: url(bttn.png) 0px 0;
	height: 185px;
	width: 22px;
	cursor: pointer;
}
.callmeform_hover {
	background-position: 22px 0!important;
}
.callme_result {
	background: #fff url(loading.gif) 10px center no-repeat;
	display: block;
	clear: both;
	margin: 5px 11px 10px 10px;
}
.callme_result div {
    padding: 7px 7px;
    margin: 4px 0px 0px 0px;
}
.callme_result .sending {
	padding: 7px 0 7px 35px;
	display: block;
	color:grey;
	clear:both;
}
.callme_result .c_success {
	background: #98c462;
	color:#fff;
	text-shadow: none;
}
.callme_result .c_error {
	background: #f76363;
	color: #fffafa;
	text-shadow: none;
}
.cme_cls {
	height: 15px;
	width: 11px;
	overflow: hidden;
	border-radius: 2px;
	text-align: center;
	padding: 0 3px 3px;
	float: right;
	display: inline;	
	background: #4D659F;
	text-shadow: 0 1px 0 #4D659F;
	color: #fff;
	text-shadow: none;
	margin: 7px 8px 0 0;
	box-shadow: 0 1px 0 #eee;
	cursor: pointer;
	text-decoration: none; 
	-webkit-transition-duration: 0.2s; 
	-o-transition-duration: 0.2s; 
	-moz-transition-duration: 0.2s; 
	transition-duration: 0.2s;
}
.cme_cls:hover {
	opacity: 0.6;
}
.cme_btn_place span a{
	font-size: 10px;
	color: #888;
}
.cme_btn_place span a:hover { 
	text-decoration: none; 
}
.cme_btn_place span {
	display: inline;
	float: right;
	padding: 7px 12px 0 0!important;
	font-size: 8px !important;
	color: #888 !important;
}
#cme_back {
	display: none;
	z-index: 108;
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
}
.cme_form select {
	background: #fff;
	padding: 4px 3px 3px 9px;
	font-size: 12px;
	border: 1px solid #98A198;
	margin: 0 0 7px 0;
	border-radius: 3px;
	outline-style: none;
}
.cme_form .cme_select {
	width: 290px !important;
	margin: 0 0 5px 10px;
}